{% extends 'user/user_base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}
{% block custom_css %}
    <link href="{% static 'css/user_topic_collection.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_head %}{{ user.username }}收藏的专题{% endblock %}
{% block content %}
 <div class="tab-container">
    <div class="topic-container clearfix">
        {% for topic in collections %}
        <div class="topic-item clearfix">
            <div class="topic-item-image-container">
                <a href="{% url 'topic:topicdetail' topic.id %}"><div class="topic-item-image" style="background-image: url('{{ MEDIA_URL }}{{ topic.cover_image }}')"></div></a>
            </div>
            <h4 class="topic-item-title">
                <a href="{% url 'topic:topicdetail' topic.id %}">{{ topic.title }}</a>
            </h4>
            <div class="topic-item-icons">
                <i class="fa fa-bookmark"><span class="num">{{ topic.total_collects }}</span></i>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/user_topic_collection.js' %}"></script>
{% endblock %}