{% extends 'user/user_base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block custom_head %}{{ user.username }}分享{% endblock %}
{% block custom_css %}
    <link href="{% static 'css/user_share.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="tab-container">
    <div class="share-container">
        <ul class="share-container-ul">
            {% for food in foods %}
            <li class="share-container-item clearfix">
                <span class="share-time">分享于 {{ food.add_time | naturaltime }}</span>
                <div class="item-index">
                    {{ forloop.counter }}
                </div>
                <div class="images-item" style="background-image: url('{{ MEDIA_URL }}{{ food.cover_image }}')"></div>
                <div class="item-main">
                    <h3 class="item-title"><a href="{% url 'food:fooddetail' food.id %}">{{ food.title }}</a></h3>
                    <p class="item-desc">
                        {{ food.description }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/user_share.js' %}"></script>
{% endblock %}
