{% extends 'user/user_base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load thumbnail %}
{% block custom_css %}
    <link href="{% static 'css/user_food_list.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_head %}{{ user.username }}吃过的{% endblock %}
{% block content %}
    <div class="tab-container">
        <div class="eat-container clearfix">
            {% for food in foods %}
            <div class="eat-item clearfix">
                <div class="food-image" style="background-image: url('{{ MEDIA_URL }}{{ food.cover_image }}')">

                </div>
                <div class="eat-item-main">
                    <h3 class="food-title"><a href="{% url 'food:fooddetail' food.id %}">{{ food.title }}</a></h3>
                    <p class="food-desc">
                        {{ food.description }}
                    </p>
{#                    <div class="eat-item-icons">#}
{#                        <i class="fa fa-hand-peace-o"><span class="num">{{ food.rating.likes }}</span></i>#}
{#                        <a href="#"><i class="fa fa-share-alt"></i></a>#}
{#                    </div>#}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/user_food_list.js' %}"></script>
{% endblock %}
