{% extends 'food/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block custom_title %}
    专题详情
{% endblock %}
{% block custom_css %}
    <link href="{% static 'css/topic_detail.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/topic_detail.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="details-container">
            <div class="topic-content">
                <img width="1048" height="350" src="{{ MEDIA_URL }}{{ topic.cover_image }}"/>
                <div class="topic-info">
                    <h1 class="topic-title">{{ topic.title }}</h1>
                    <button type="button" name="button" id="collect" data-id="" data-action="">收藏专题</button>
                    <div class="topic-desc">
                        {{ topic.description }}
                    </div>
                </div>
            </div>
            {% for food in all_topic_food %}
            <div class="detail-item">
                <a href="{% url 'food:fooddetail' food.id %}">
                    <div class="detail-img-left" style="">
                        <img width="250" height="150" src="{{ MEDIA_URL }}{{ food.cover_image }}"/>
                    </div>
                </a>
                <div class="detail-content">
                    <h2 class="detail-title">
                        <a href="{% url 'food:fooddetail' food.id %}">{{ food.title }}</a>
                    </h2>

                    <div class="detail-desc-wrapper">
                        <p class="detail-desc">
                            {{ food.description }}
                        </p>
                    </div>

                    <div class="detail-bottom">
                        <div class="detail-tags">
                            <span class="tags-tip">标签：</span>
                            {% for tag in food.get_tags_list %}
                                <i class="tag">{{ tag }}</i>
                            {% endfor %}

                            <div class="like">
                                <span class="like-count">{{ food.total_likenum }}</span>
                                <i class="fa fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
{% block custom_script %}
    <script type="text/javascript">

            (function() {
                var collectDom = $("collect");

                collectDom.click(function(event) {
                    var self = this;
                    var id = $getDataOf(this, "id");
                    var action = $getDataOf(this, "action");

                    $ajax({
                        url: "",
                        method: "POST",
                        data: {

                        }
                    }).then(function(data) {
                        self.innerHTML = "已收藏";
                        self.className = "collected";
                    }).catch(function(error) {
                        alert("网络异常");
                    });
                });
            })();
        </script>
{% endblock %}