<!DOCTYPE html>
{% load staticfiles %}
{% load thumbnail %}
<html>
    <head>
        <meta charset="utf-8">
        <title>专题列表</title>
        <link rel="stylesheet" href="{% static 'font/font-awesome-4.5.0/css/font-awesome.min.css' %}" media="screen" title="no title" charset="utf-8">
        <link href="{% static 'css/vendors.css' %}" rel="stylesheet">
        <link href="{% static 'css/topic_list.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/topic_list.js' %}"></script>
    </head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="topic-container">

            <div class="topic-container-main">
                {% for topic in topics.object_list %}

                <div class="topic-item">

                    <a href="{% url 'topic:topicdetail' topic.id %}">
{#                        {% thumbnail topic.cover_image "393x188" crop="center" as im %}#}
{#                             <div class="topic-item-img" style="background-image: url('{{ im.url }}')"></div>#}
{#                        {% endthumbnail %}#}
                        <div class="topic-item-img" style="">
                            <img width="393" height="188"  src="{{ MEDIA_URL }}{{ topic.cover_image }}">
                        </div>
                    </a>
                    <div class="topic-item-desc">
                        <a href="{% url 'topic:topicdetail' topic.id %}"><h3 class="desc-title">{{ topic.title }}</h3></a>
                        <a href="{% url 'topic:topicdetail' topic.id %}"><h4 class="desc-content">{{ topic.description }}</h4></a>
                    </div>
                    <div class="topic-item-info">

                        <i class="fa fa-heart"><span class="num">{{ topic.total_collects }}</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><a href="#"><i class="fa fa-share-alt"></i></a></a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </body>
</html>
