<!DOCTYPE html>
{% load staticfiles %}
{% load thumbnail %}
<html>
    <head>
        <title>首页</title>
        <script src="http://localhost:8000/webpack-dev-server.js"></script>
        <link rel="stylesheet" href="{% static 'font/font-awesome-4.5.0/css/font-awesome.min.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
        <link rel="stylesheet" href="{% static 'css/home_index.css' %}">

        <script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/home_index.js' %}"></script>
    </head>
    <body>
        <div class="navbar" id="navbar">
            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="{% url 'food:foodlist' %}">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>

             {% if request.user.is_authenticated %}
                <a href="{% url 'user:login' %}">
                  <button type="button" name="button">分享</button>
                </a>
                <a href="{% url 'user:logout' %}">
                  <button type="button" name="button">登出</button>
                </a>
                <a href="{% url 'user:userinfo' %}" class="user-name">
                  <button type="button" name="user-name-btn" class="user-name-btn">{{ request.user.username }}</button>
                  <ul class="user-dropdown">
                    <li>abc</li>
                    <li>abc</li>
                    <li>abc</li>
                  </ul>
                </a>
             {% else %}
                <a href="{% url 'user:login' %}"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="{% url 'user:register' %}"><button type="button" name="register" id="register-btn">注册</button></a>
             {% endif %}
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="container" id="container">
            <div class="container-top">
                <div class="desc">
                    <div class="desc-main">

                        发现，美食，分享
                    </div>
                </div>
                <div class="pineapple-logo">
                    Food Share
                </div>
            </div>
        </div>

        <div class="topic-container">
            <div class="topic-container-title">
                <h1><span class="title-hr"></span>精选专题<span class="title-hr"></span></h1>
            </div>
            <div class="topic-container-main">
                {% for topic in all_topics %}
                <div class="topic-item">

                    <a href="{% url 'topic:topicdetail' topic.id %}">
                        {% thumbnail topic.cover_image "1048x350" crop="center" as im %}
                            <div class="topic-item-img" style="background-image: url('{{ im.url }}')"></div>
                        {% endthumbnail %}
                    </a>
                    <div class="topic-item-desc">
                        <a href="{% url 'topic:topicdetail' topic.id %}"><h3 class="desc-title">{{ topic.title }}</h3></a>
                        <a href="{% url 'topic:topicdetail' topic.id %}"><h4 class="desc-content">{{ topic.description }}</h4></a>
                    </div>
                    <div class="topic-item-info">

                        <i class="fa fa-heart"><span class="num">{{ topic.total_collects }}</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><a href="#"><i class="fa fa-share-alt"></i></a></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
