{% extends 'food/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block custom_title %}
    美食列表
{% endblock %}
{% block custom_css %}
    <link href="{% static 'css/food_list.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/food_list.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="list-container">
            <div class="list-tab-container">
                <ul class="tab-ul clearfix">

                    <a href="#"><li class="tab-ul-item current-item">最近热门</li></a>
                    <a href="#"><li class="tab-ul-item">精选</li></a>
                    <a href="#"><li class="tab-ul-item">零食</li></a>
                    <a href="#"><li class="tab-ul-item">小吃</li></a>
                    <a href="#"><li class="tab-ul-item">高档</li></a>
                    <a href="#"><li class="tab-ul-item">发现</li></a>
                </ul>
            </div>

            <div class="list-main-container clearfix">

                {% for food in food_page.object_list %}

                <div class="item">
                    <a href="{% url 'food:fooddetail' food.id %}">
                        <div class="item-img" style="">
                            <img width="300" height="200"  src = "{{ MEDIA_URL }}{{ food.cover_image }}"/>
                        </div>

                    </a>
                    <div class="item-main">
                    <a href="{% url 'food:fooddetail' food.id %}">
                        <h3 class="item-title">{{ food.food_name }}</h3>
                    </a>
                        <div class="item-tags">
                            <i class="fa fa-tags"></i>
                        {% if food.get_tags_list %}
                            {% for tag in food.get_tags_list %}
                            <span class="tag"><a href="#">{{ tag }}</a></span>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

    <!--分页器-->
    <div class="pageturn">
                        <ul class="pagelist">
                            {% if food_page.has_previous %}
                                <li class="long">
                                     <a href="?{{ food_page.previous_page_number.querystring }}" class="prev">上一页</a>
                                </li>
                            {% endif %}

                            {% for page in food_page.pages %}
                                {% if page %}
                                    {% ifequal page food_page.number %}
                                        <li class="active"><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if food_page.has_next %}
                                <li class="long"><a href="?{{ food_page.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}
                        </ul>
                    </div>
{% endblock %}
{% block custom_script %}{% endblock %}
