{% extends 'food/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block custom_title %}
    探索美食
{% endblock %}
{% block custom_css %}
      <link href="{% static 'css/food_explore.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/food_explore.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="explore-container">
            <div class="explore-tab-container">
                <ul class="tab-ul clearfix">
                    <li class="{% ifequal sort '' %}tab-ul-item current-item{% else %}tab-ul-item{% endifequal %}"><a href="?sort=">全部</a></li>
                    <li class="{% ifequal sort 'new' %}tab-ul-item current-item{% else %}tab-ul-item{% endifequal %}"><a href="?sort=new">最新</a></li>
                    <li class="{% ifequal sort 'hot' %}tab-ul-item current-item{% else %}tab-ul-item{% endifequal %}"><a href="?sort=hot">热门</a></li>
{#                    <li class="tab-ul-item current-item">最新</li>#}
{#                    <li class="tab-ul-item">热门</li>#}
                </ul>
            </div>
{#            <div class="explore-main-container">#}
{#                {% for food in display_food %}#}
{#                    <div class="item">#}
{#                        <a href="{% url 'food:fooddetail' food.id %}">#}
{#                            <div class="item-img" style="background-image: url('{{ MEDIA_URL }}{{ food.cover_image }}')">#}
{#                                <div class="item-main">#}
{#                                    <h4 class="item-title">{{ food.title }}</h4>#}
{#                                <div class="item-bottom">#}
{#                                    <div class="item-create-user">#}
{#                                        分享自 {{ food.user }}#}
{#                                    </div>#}
{#                                    <div class="icons">#}
{#                                        <i class="fa fa-smile-o"><span class="like-num">{{ food.total_likenum }}</span></i>#}
{#                                        <i class="fa fa-frown-o"><span class="dislike-num">{{ food.total_dislikenum }}</span></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#    </div>#}

            <div class="explore-main-container">
                {% for food in display_food %}

                <div class="item">
                    <a href="{% url 'food:fooddetail' food.id %}">
                    {% thumbnail food.cover_image "300x200" crop="center" as im %}
                        <div class="item-img" style="background-image: url('{{ im.url }}')">
                    {% endthumbnail %}
                            <div class="item-main">
                                <h4 class="item-title">{{ food.title }}</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 {{ food.user }}
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">{{ food.total_likenum }}</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">{{ food.total_dislikenum }}</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                {% endfor %}

            </div>
    </div>


{% endblock %}
{% block custom_script %}{% endblock %}
