{% extends 'food/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block custom_title %}
    探索美食
{% endblock %}
{% block custom_css %}
      <link href="{% static 'css/food_explore.css' %}" rel="stylesheet">
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/food_explore.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="explore-container">
            <div class="explore-tab-container">
                <ul class="tab-ul clearfix">
                    <li class="tab-ul-item current-item">最新</li>
                    <li class="tab-ul-item">热门</li>
                </ul>
            </div>

            <div class="explore-main-container">
                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('{% static 'images/food2.jpg' %}')">
                            <div class="item-main">
                                <h4 class="item-title">苏格格巴登巴登小蛋糕</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 Rlilyyy
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">123</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">321</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

{% endblock %}
{% block custom_script %}{% endblock %}

{% load staticfiles %}
