<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>商品详情</title>
        <link rel="stylesheet" href="{% static 'font/font-awesome-4.5.0/css/font-awesome.min.css' %}" media="screen" title="no title" charset="utf-8">
        <link href="{% static 'css/vendors.css' %}" rel="stylesheet">
        <link href="{% static 'css/food_detail.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/food_detail.js' %}"></script>
    </head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        
        <div class="detail-container">
            <div class="main-container clearfix">
                <div class="food-left fl">
                    <div class="food-left-container">
                        <div class="food-img">
                            <img src="{{ MEDIA_URL }}{{ cur_food.cover_image }}" alt="商品图片" width="100%" height="100%">
                            <div class="food-img-shadow">
                                <div class="shadow-icons">
                                    
                                    <div class="icon" id="want" data-id="123" data-action="321">
                                        
                                            <i class="fa fa-cutlery">
                                                <span class="fa-margin">想吃</span>
                                            </i>
                                        
                                    </div>

                                    <div class="icon" id="eated" data-id="222" data-action="333">
                                        
                                            <i class="fa fa-hand-peace-o">
                                                <span class="fa-margin">吃过</span>
                                            </i>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="food-like-share">
                            
                            
                            <div class="circle" id="like" data-id="" data-action="">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <div class="circle" id="dislike" data-id="" data-action="">
                                <i class="fa fa-thumbs-o-down"></i>
                            </div>
                            <div class="circle" id="share" data-id="" data-action="">
                                <i class="fa fa-share-alt"></i>
                            </div>
                        </div>
                    </div>

                    <div class="comments-container">
                        <div class="comments-wraaper clearfix">
                            <textarea name="comments" rows="3" class="comments-area"></textarea>
                            <button type="button" name="sendBtn" class="send-btn">发表评论</button>
                        </div>
                        <h2 class="comments-title">全部评论</h2>
                        <div class="comments-main">
                            
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('{% static 'images/food2.jpg' %}')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="food-right fl">
                    <h2 class="food-title">{{ cur_food.food_name }}</h2>
                    <div class="food-sharer">
                        <div class="sharer-img" style="background-image: url('{% static 'images/food2.jpg' %}')"></div>
                        <span class="sharer-name">{{ cur_food.user.username }}</span>
                        <span class="share-text">分享于</span>
                        <span class="share-time">{{ cur_food.add_time }}</span>
                    </div>
                    <div class="food-item-title">
                        简介
                    </div>
                    <p class="desc">
                        {{ cur_food.description }}
                    </p>

                        <div class="food-buy">
                            <a href="{{ cur_food.link }}">
                                <i class="fa fa-link"></i>
                                来源链接
                            </a>
                        </div>

                    <div class="food-item-title">
                        标签
                    </div>
                    <div class="tags">
                        {% if cur_food.get_tags_list %}
                            {% for tag in cur_food.get_tags_list %}
                            <span class="tag"><a href="#">{{ tag }}</a></span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="food-item-title">
                        相似物品
                    </div>
                    <div class="similar-container clearfix">
                        <div class="similar-item">
                            <a href="#"><img src="{% static 'images/topic1.jpg' %}" alt="" width="100%" height="185px"></a>
                            <span class="similar-title">复古森女少女格子松紧腰半身裙</span>
                        </div>
                        <div class="similar-item">
                            <a href="#"><img src="{% static 'images/topic2.jpg' %}" alt="" width="100%" height="185px"></a>
                            <span class="similar-title">香甜巧克力</span>
                        </div>
                        <div class="similar-item">
                            <a href="#"><img src="{% static 'images/topic3.jpg' %}" alt="" width="100%" height="185px"></a>
                            <span class="similar-title">肥猪肉</span>
                        </div>
                        <div class="similar-item">
                            <a href="#"><img src="{% static 'images/topic4.jpg' %}" alt="" width="100%" height="185px"></a>
                            <span class="similar-title">82年雪碧</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            (function() {

                var likeDom = $("like");
                var dislikeDom = $("dislike");
                var shareDom = $("share");
                var wantDom = $("want");
                var eatedDom = $("eated");

                // 喜欢
                likeDom.click(function(event) {
                    var self = this;
                    var id = $getDataOf(this, "id");
                    var action = $getDataOf(this, "action");

                    $ajax({
                        url: "",
                        method: "POST",
                        data: {

                        }
                    }).then(function(data) {
                        self.className = "circle liked";
                        dislikeDom.className = "circle";
                        shareDom.className = "circle";
                    }).catch(function(error) {
                        alert("网络异常");
                    });
                });

                // 不喜欢
                dislikeDom.click(function(event) {
                    var self = this;
                    var id = $getDataOf(this, "id");
                    var action = $getDataOf(this, "action");

                    $ajax({
                        url: "",
                        method: "POST",
                        data: {

                        }
                    }).then(function(data) {
                        self.className = "circle liked";
                        likeDom.className = "circle";
                        shareDom.className = "circle";
                    }).catch(function(error) {
                        alert("网络异常");
                    });
                });

                wantDom.click(function(event) {
                    var self = this;
                    console.log(this)
                    var id = $getDataOf(this, "id");
                    var action = $getDataOf(this, "action");

                    $ajax({
                        url: "",
                        method: "POST",
                        data: {

                        }
                    }).then(function(data) {
                        self.className = "icon clicked";
                        eatedDom.className = "icon";
                    }).catch(function(error) {
                        alert("网络异常");
                    });
                });

                eatedDom.click(function(event) {
                    var self = this;
                    var id = $getDataOf(this, "id");
                    var action = $getDataOf(this, "action");

                    $ajax({
                        url: "",
                        method: "POST",
                        data: {

                        }
                    }).then(function(data) {
                        self.className = "icon clicked";
                        wantDom.className = "icon";
                    }).catch(function(error) {
                        alert("网络异常");
                    });
                });
            })();
        </script>
    </body>
</html>
